<h1>New Shelter Form</h1>

<%= form_tag "/shelters", method: :post do %>

  <p><%= label_tag "Name:" %></p><br>
  <p><%= text_field_tag :name %></p><br>

  <p><%= label_tag "Address:" %></p><br>
  <p><%= text_field_tag :address %></p><br>

  <p><%= label_tag "City:" %></p><br>
  <p><%= text_field_tag :city %></p><br>

  <p><%= label_tag "State:" %></p><br>
  <p><%= text_field_tag :state %></p><br>

  <p><%= label_tag "Zipcode:" %></p><br>
  <p><%= text_field_tag :zip %></p><br>

  <%= submit_tag "Create Shelter" %>
<% end %>
