<h2><%= @shelter.name %></h2>
<%= link_to "Pet's at Shelter", "/shelters/#{@shelter.id}/pets"%><br><br>
<p>Address: <strong><%= @shelter.address %></strong></p>
<p>City: <strong><%= @shelter.city %></strong></p>
<p>State: <strong><%= @shelter.state %></strong></p>
<p>Zipcode: <strong><%= @shelter.zip %></strong></p>

<%= button_to "Update Shelter", "/shelters/#{@shelter.id}/edit", method: :get %>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>

<p align="center"><%=link_to "Add Review", "/shelters/#{@shelter.id}/reviews/new"  %>
<p align="right">Number of pets at shelter: <%=@shelter.num_pets %></p>
<p align="right">Average rating of reviews: <%=@shelter.avg_review.round(2) %></p>
<p align="right">Number of applications: <%=@shelter.num_apps %></p>

<h3>All reviews for <%= @shelter.name %>: </h3>
<ol>
<% @shelter.reviews.each do |review| %>
<section id="review-<%=review.id%>">
  <p><strong><li>Review Title: <%= review.title %></li></strong></p>
  <p><strong>Rating: <%= review.rating %></strong></p>
  <p><strong>Content: <%= review.content %></strong></p>
  <img src="<%= review.image%>" width= "200", height= auto></img><br>
  <%= link_to "Edit Review", "/reviews/#{review.id}/edit", method: :get %><br>
  <%= link_to "Delete Review", "/reviews/#{review.id}", method: :delete %>
</section>
<% end %>
</ol>
