<%= form_tag "/pets/#{@pet.id}", method: :patch do %>

  <p><%= label_tag "image" %></p><br>
  <p><%= text_field_tag :image, @pet.image %></p><br>
  <p><%= label_tag "Name" %></p><br>
  <p><%= text_field_tag :name, @pet.name %></p><br>
  <p><%= label_tag "Description" %></p><br>
  <p><%= text_field_tag :description, @pet.description %></p><br>
  <p><%= label_tag "Age" %></p><br>
  <p><%= number_field_tag :age, @pet.age %></p><br>
  <p><%= label_tag "Sex" %></p><br>
  <p><%= text_field_tag :sex, @pet.sex %></p><br>
  <p><%= submit_tag "Update Pet" %>
<% end %>
