<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Pet Index", "/pets" %>
      <%= link_to "Shelter Index", "/shelters" %>
      <p><%= link_to "Number of pets favorited:", "/favorites" %> <%= favorites.total_count %></p>
    </nav>

    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
